PyMuPDF
python-pptx
paddleocr
paddlepaddle
camelot-py[cv]
opencv-python-headless
requests
Pillow

# Structuring module
openai-agents
pydantic

# Indexing module
chromadb
sentence-transformers
sqlalchemy

# PYQ module
rank-bm25

# Job infrastructure
celery[redis]
